*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgray;
    overflow-x: hidden;
    min-height: 100vh;
}

.products{
    position: absolute;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    row-gap: 10px;
    width: 95vw;
    margin: 10px 50px;

}

.product{
    position: relative;
    height: 500px;
    width: 390px;
    padding: 0 0.5rem;
    background-color: white;
    line-height: 25px;
}

.product img{
    width: 380px;
    height: 400px;
    object-fit: scale-down;
}

.sebet{
    position: absolute;
    background-color: orange;
    color: white;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
}